# Project exclude paths
/desing-pattern/target/
/springbootdemo-consumer/target/
/springbootdemo-eureka/target/
/springbootdemo-foundation/target/
/springbootdemo-product/target/
/springbootdemo-rabbitmq/target/
/springbootdemo-test/target/